{% extends "base.html" %}

{% block body %}
<div id="body" class="container">
  <div class="row">
    <div class="span12">
      <ul class="thumbnails porfolio">
        <li class="span2">
          <a rel="popover" href="/calendar" class="thumbnail" data-content="Daily Cost"
             data-original-title="Calendar for My Daily Cost">
            <img src=" http://placehold.it/160x120" alt="Daily Cost"/>
          </a>
        </li>
        <li class="span2">
          <a href="/travelmap" class="thumbnail" data-content="Travel Map for my Trip"
             data-original-title="TravelMap">
            <img src=" http://placehold.it/160x120" alt="Travel Map"/>
          </a>
        </li>
        <li class="span2">
          <a href="/tenthousand" class="thumbnail" data-content="Wishes within my first 10000 days."
             data-original-title="Checklist for my first 10000 days">
            <img src=" http://placehold.it/160x120" alt="Checklist for my first 10000 days"/>
          </a>
        </li>
        <li class="span2">
          <a href="/everyday" class="thumbnail" data-content="Visualize my every day life."
             data-original-title="Everyday">
            <img src=" http://placehold.it/160x120" alt="Everyday Life"/>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div> <!-- #body -->
{% endblock %}