#content{width: 1200px; height:auto; margin-left: auto; margin-right: auto;}

#canvas_all{float:left; width:1200px;}
#canvas_pie{float:right}
#canvas{float:left}

#canvas_tm{float:left; width:1200px;}
#currentInfo{float:left; }
#dayDetail{float:right; }

#info_all{float:left; width:1200px;height: 240px;}
#dayDetail{float:right; }
#currencyInfo{float:left; }

#dataForm{float:left;width: 50%; height: 240px;}
#menu{float:left;width: 100%; }
#oauth_stats{float:left;width: 100%; height: 240px;}

input, textarea, select, .uneditable-input {
height: auto;
}