<html>
<head>

<link type="text/css" rel="stylesheet" href="/static/travelmap.css"/>
<link type="text/css" rel="stylesheet" href="/static/modalbox.css"/>

<!--Implement by Prototype & Script.aculo.us-->
<script type='text/javascript' src='http://www.google.com/jsapi'></script>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js'></script>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.3/scriptaculous.js'></script>

<script type="text/javascript" src="/static/modalbox.js"/></script>
<!--<script type="text/javascript" src="/static/travelmap_window_effects.js"> </script>-->
<!--<link href="/static/alphacube.css" rel="stylesheet" type="text/css" >  </link>-->  
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
/*
 * UI Settings
 * Gulimujyujyu
 * Nov 17, 2010
 */

/*
 * Google Maps API
 */

//Event.observe(window, 'load', TravelMap.initialize);
var MAPFILES_URL = "http://maps.gstatic.com/intl/en_us/mapfiles/";

var TravelMap = {
  map: null,
  //map2: null,
  infoWindow: null,
  geocoder: null,
  inlineEdit: null,
  markers: [],
};

TravelMap.initialize = function () {
  
  //load map
  var myOptions = {
      zoom: 6,
      center: new google.maps.LatLng(22.4957799407,114.073001331),
      mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  TravelMap.map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);
  //TravelMap.map2 = new google.maps.Map(document.getElementById('add_trip_window_map'), myOptions2);
  
  //load goeloader
  TravelMap.geocoder = new google.maps.Geocoder();
  
  //load infoWindow
  TravelMap.infoWindow = new google.maps.InfoWindow();
  
  //load listeners
  TravelMap.addObservers();
  TravelMap.addMapListeners();
  
  
  //load Trip
  new Ajax.Request('/travelmap/fetch_trip',
  {
    method:'get',
    requestHeaders: {Accept: 'application/json'},
    onSuccess: function(transport){
      $('error_log').update('Fetching Trips Data.'); 
      var jsonRes = transport.responseText.evalJSON(true);
      for(var i = 0, entry; entry = jsonRes[i]; ++i) {
        var aa = new Element('option');
        aa.text = entry.name;
        aa.value = entry.trip_key;
        $('trip_slector').insert(aa,'top');
      }
      $('error_log').update('Obtain Trips Data.'); $('error_log').show();
    },
    onFailure: function(){
       $('error_log').update('Fetching Trips Data Failed.'); $('error_log').show();
    }
  });
  
  TravelMap.inlineEdit = new Ajax.InPlaceEditor(
      'marker_edit',
      'Nothing'
  );
}

TravelMap.addObservers = function () {
  $('add_trip').observe('click',TravelMap.addOneTrip);
  //Event.observe('add_trip_window_map', 'click', function(e){ alert('clicked me!') }); 
  $('nb_trip_selector').observe('change',TravelMap.syncNB.bindAsEventListener(this,TravelMap.map));
  $('nb_trip_selector').observe('select',TravelMap.syncNB.bindAsEventListener(this,TravelMap.map));
}

TravelMap.addMapListeners = function () {
  //click
  google.maps.event.addListener(TravelMap.map, 'dblclick', function(event) {
    destination = event.latLng;
    TravelMap.addMarker(destination);
    TravelMap.closeInfoWindow();
  });
  TravelMap.updateMarkersListeners();
}

TravelMap.closeInfoWindow = function () {
  TravelMap.infoWindow.close();
}

TravelMap.updateMarkersListeners = function () {
  $('error_log').update('updateMarkersListeners'+TravelMap.markers.length); $('error_log').show();
  for( var i=0; i < TravelMap.markers.length;++i) {
    marker = TravelMap.markers[i];
    TravelMap.addOneMarkerListener(marker);
  }
}

TravelMap.addOneMarkerListener = function (marker) {
  // Add dragging event listeners.
    google.maps.event.addListener(marker, 'dragstart', function() {
      TravelMap.updateMarkerStatus('Dragging...');
    });
    
    google.maps.event.addListener(marker, 'drag', function() {
      TravelMap.updateMarkerStatus('Dragging...');
    });
    
    google.maps.event.addListener(marker, 'dragend', function() {
      var markerKey = marker.getTitle();
      TravelMap.updateMarkerStatus('Drag ended');
      TravelMap.updateMarkerGeo(marker.getPosition(),markerKey);
    });
    
    google.maps.event.addListener(marker, 'click', function() {
      TravelMap.updateMarkerStatus('Edit the highlighted below:)');
      var markerKey = marker.getTitle();
      var markerPos = marker.getPosition();
      TravelMap.addInPlaceEdit(markerKey);
      $('error_log').update('Debug1');
      TravelMap.getMarkerInfomation(markerKey,markerPos);
      $('error_log').update('Debug2');
      TravelMap.syncPanelNMarker(marker);
      $('merker_show_button').show();
    });
}

TravelMap.syncPanelNMarker = function (marker) {
  $('error_log').update('syncPenal');
  TravelMap.map.panTo(marker.getPosition());
  var result = $$('div.info');
  for (var i = 0; i < result.length; i++) {
    result[i].style.backgroundColor = "white";
  }
  result = $$('div.info#'+marker.getTitle());  
  result[0].style.backgroundColor = "#ddddff";
  $('marker_table_wrapper').scrollTop = result[0].offsetTop - $('marker_table_wrapper').offsetTop;
  TravelMap.openWindow(result[0],marker);
  $('error_log').update('result[0]='+result[0].innerHTML);
}

TravelMap.openWindow = function (result,marker) {
  //var disp = $$('div#marker_onclick_info');
  var disp = result.innerHTML;
  var markerLatLng = marker.getPosition();
  TravelMap.infoWindow.setContent(disp);
  TravelMap.infoWindow.open(TravelMap.map, marker);
}

TravelMap.getMarkerInfomation = function (markerKey,markerPos) {
  $('error_log').update('debug1');
  $('marker_onclick_info').update('<h3>(lat,lon)='+markerPos+'</h3>');
  $('error_log').update('debug2');
  if(TravelMap.geocoder) { 
    $('error_log').update('debug3');
    TravelMap.geocoder.geocode({latLng:markerPos}, function(results,status){
      if(results && results.length > 0) {
        $('error_log').update('debug4');
        var aa = '';
        $('error_log').update('Geo:'+results.length);
        for( var i=0; i< results.length; i++) {
          aa = TravelMap.setListItem(i,TravelMap.getResultDescription(results[i]));
          $('marker_onclick_info').insert(aa,'bottom');
        }
        $('error_log').update('debug5');
      }
    })
  }
}

TravelMap.addMarker =  function (latlng) {
  //post
  var tripKey = $$('select#trip_slector option').find(function(ele){return !!ele.selected});
  new Ajax.Request('/travelmap/add_information',
  {
    method:'post', 
    parameters: {trip: tripKey.value, lat: latlng.lat(), lon: latlng.lng()},
    requestHeaders: {Accept: 'application/json'},
    onSuccess: function(transport){
      var jsonRes = transport.responseText.evalJSON(true);
      var keyvalue = jsonRes[0].information_key;
      var newMarker = new google.maps.Marker({
        title: keyvalue,
        position: latlng, 
        map: TravelMap.map,
        icon: "http://maps.google.com/mapfiles/marker" + String.fromCharCode((TravelMap.markers.length)%26 + 65) + ".png",
        draggable: true
      }); 
      //push
      TravelMap.markers.push(newMarker); 
      TravelMap.addOneMarkerListener(newMarker);
      TravelMap.updateAllMarkers();
    },
    onFailure: function(){ 
      $('error_log').update('addMarker Data Failed.'); $('error_log').show();
    }
  });
}

TravelMap.updateMarkerStatus = function (str) {
  //post
  //Post a Trip
  $('marker_status').update(str);
  
}

TravelMap.updateMarkerGeo = function (latlng,markerKey) {
  //post
  var tripKey = $$('select#trip_slector option').find(function(ele){return !!ele.selected});
  //Post a Trip
  new Ajax.Request('/travelmap/add_information',
  {
    method:'post', 
    parameters: {trip: tripKey.value, info: markerKey, lat: latlng.lat(), lon: latlng.lng()},
    requestHeaders: {Accept: 'application/json'},
    onSuccess: function(transport){
      TravelMap.updateAllMarkers();
    },
    onFailure: function(){ 
      $('error_log').update('Fetching Trips Data Failed.'); $('error_log').show();
    }
  });
  
}

TravelMap.updateAllMarkers = function () {
  var tk = $$('select#trip_slector option').find(function(ele){return !!ele.selected});
  new Ajax.Request('/travelmap/fetch_trip_content',
  {
    method:'get', 
    parameters: {trip: tk.value},
    requestHeaders: {Accept: 'application/json'},
    onSuccess: function(transport){
      var jsonRes = transport.responseText.evalJSON(true);
      if(jsonRes.length && jsonRes.length > 0) {
        $('nb_trip_lat').update(jsonRes[0].geo_lat);
        $('nb_trip_lon').update(jsonRes[0].geo_lon);
        $('nb_trip_author').update('Author: '+jsonRes[0].author);
        //update markers
        //var latlng = new google.maps.LatLng(jsonRes[0].geo_lat, jsonRes[0].geo_lon);
        //TravelMap.map.panTo(latlng);
        $('error_log').update('Finished');
      }
    },
    onFailure: function(){ 
      $('error_log').update('Fetching Trips Data Failed.'); $('error_log').show();
    }
  });
  $('error_log').update(tk.value);
  new Ajax.Request('/travelmap/fetch_information',
  {
    method:'get', 
    parameters: {trip: tk.value},
    requestHeaders: {Accept: 'application/json'},
    onSuccess: function(transport){
      TravelMap.clearMarkers();
      $('marker_table_wrapper').innerHTML='';
      var jsonRes = transport.responseText.evalJSON(true);
      for(var i = 0, entry; entry = jsonRes[i]; ++i) {
        //update table
        /*
        var aa = new Element('tr');
        aa.class = 'marker_table_row';
        aa.id = entry.information_key;
        var glat = parseFloat(entry.geo_lat);
        aa.insert(new Element('td').update(glat.toFixed(2)),'bottom');
        var glon = parseFloat(entry.geo_lon);
        aa.insert(new Element('td').update(glon.toFixed(2)),'bottom');
        aa.insert(new Element('td').update(entry.author),'bottom');
        aa.insert(new Element('td').update(entry.content),'bottom');
        */
        var aa = TravelMap.renderOneEntry(i,entry);
        $('marker_table_wrapper').insert(aa,'bottom');
        //update markers
        var latlng = new google.maps.LatLng(entry.geo_lat, entry.geo_lon);
        TravelMap.markers.push(new google.maps.Marker({
          title: entry.information_key,
          position: latlng, 
          map: TravelMap.map,
          icon: "http://maps.google.com/mapfiles/marker" + String.fromCharCode((TravelMap.markers.length)%26 + 65) + ".png",
          draggable: true
        })); 
      }
      
      TravelMap.updateMarkersListeners();
    },
    onFailure: function(){ 
      $('error_log').update('Fetching Trips Data Failed.'); $('error_log').show();
    }
  });
}

TravelMap.clearMarkers = function () {
  for (var i = 0; i < TravelMap.markers.length; i++) {
    TravelMap.markers[i].setMap(null);
  }
  TravelMap.markers = [];
}

TravelMap.addOneTrip = function ()
{
  //google.maps.event.addListener(TravelMap.map2, 'click', function(event) {
  //$('add_trip_window_lat').update(event.latLng.lat());
  //$('add_trip_window_lon').update(event.latLng.lng());
  //});
  //$('add_trip_window_showMarker').observe('click', TravelMap.updateImageMarker);
  
  Modalbox.show($('add_trip_window').innerHTML,{title: 'Add a Trip'});
}

TravelMap.updateImageMarker = function() {
  var xx = $('add_trip_window_lat').value;
  var yy = $('add_trip_window_lon').value;
  $('add_trip_window_map').update('<img src="http://maps.google.com/maps/api/staticmap?center='+xx+','+yy+'&markers=color:blue|'+xx+','+yy+'&zoom=2&size=400x200&maptype=roadmap&sensor=false"/>');
}

TravelMap.submitOneTrip = function () {
  tripName = $('add_trip_window_name').value;
  var lat = $('add_trip_window_lat').value;
  lat = parseFloat(lat);
  var lon = $('add_trip_window_lon').value;
  lon = parseFloat(lon);
  
  if( tripName.length <= 0) {
    $('error_msg').update('Trip Name is wrongly formatted ):');
    return;
  }
  if( lat < -90 || lat > 90) {
    $('error_msg').update('Latitude should be between -90 and 90 degree ):');
    return;
  }
  if( lon < -180 || lon > 180) {
    $('error_msg').update('Latitude should be between -180 and 180 degree ):');
    return;
  }
  //Post a Trip
  new Ajax.Request('/travelmap/add_trip',
  {
    method:'post', 
    parameters: {name: tripName, geo_lat: lat, geo_lon:lon},
    requestHeaders: {Accept: 'application/json'},
    onSuccess: function(transport){
      var jsonRes = transport.responseText.evalJSON(true);
      for(var i = 0, entry; entry = jsonRes[i]; ++i) {
        var aa = new Element('option');
        aa.text = entry.name;
        aa.value = entry.trip_key;
        $('trip_slector').insert(aa,'top');
      }
      Modalbox.hide();
    },
    onFailure: function(){ 
      $('error_msg').update('Add Failed');
      Modalbox.hide();
      $('error_log').update('Fetching Trips Data Failed.'); $('error_log').show();
    }
  });
}

TravelMap.showMarkerInfo = function () {
  Modalbox.show($('marker_onclick_info').innerHTML,{title: 'GoeCoder Results', width: 600});
}

TravelMap.syncNB = function (event) {
  $('error_log').update('syncNB'); 
  var vl = $$('select#trip_slector option').find(function(ele){return !!ele.selected})
  $('nb_trip_name').update("Trip: "+vl.text);
  TravelMap.updateAllMarkers();
  $('error_log').update('syncNB End'+vl); 
}

TravelMap.addInPlaceEdit = function (markerKey) {
  var tripKey = $$('select#trip_slector option').find(function(ele){return !!ele.selected});
  //load inlineEdit
  var results = $$('td#'+markerKey);
  $('marker_edit').update(results[0].innerHTML);
  TravelMap.inlineEdit.dispose();
  TravelMap.inlineEdit = new Ajax.InPlaceEditor(
      'marker_edit',
      '/travelmap/add_information_content',
      {
        loadingText: 'Loading Content!',
        okText: 'Save',
        cancelText: 'Cancel',
        callback: function(form, value) { return 'trip='+tripKey.value+'&info='+markerKey+'&content=' + encodeURIComponent(value) },
        onComplete: function() {
          TravelMap.updateAllMarkers();
        }
      }
   );
}

TravelMap.selectMarker = function (n) {
  google.maps.event.trigger(TravelMap.markers[n], 'click');
}

TravelMap.getMarkerImageUrl = function (resultNum) {
  return MAPFILES_URL + "marker" + String.fromCharCode(65 + resultNum%26) + ".png";
}

TravelMap.setListItem = function (i,resultDescription) { 
  var html  = '<a id="marker_table_item">';
      html += '<div class="info" id="marker_table_item_info">';
      html += '<table><tr valign="top">';
      html += '<td style="padding: 2px">' + resultDescription + '</td>';
      html += '</tr></table>';
      html += '</div></a>'; 
  return html;
}

function tr(key, value) {
  return '<tr>' +
           '<td class="key">' + key + (key ? ':' : '') + '</td>' +
           '<td class="value">' + value + '</td>' +
         '</tr>';
}

function tr_id(key, value, id) {
  return '<tr>' +
           '<td class="key">' + key + (key ? ':' : '') + '</td>' +
           '<td class="value" id="'+id+'">' + value + '</td>' +
         '</tr>';
}

TravelMap.getResultDescription = function (result) {
  var html  = '<table class="tabContent">';
      html += tr('Address', result.formatted_address);
      html += tr('Types', result.types.join(", "));
      html += tr('Location', result.geometry.location.toString());
      html += tr('Location type', result.geometry.location_type);
      if (result.partial_match) {
        html += tr('Partial match', 'Yes');
      }
      html += '</table>';
  return html;
}

TravelMap.renderOneEntry = function (i,entry){
  var html = '<a id="marker_table_entry_a" onclick="TravelMap.selectMarker('+i+')">';
      html+= '<div class="info" id="' + entry.information_key + '">';
      html+= '<table><tr valign="top">';
      html+= '<td style="padding: 2px"><img src="' + TravelMap.getMarkerImageUrl(i) + '"/></td>';
      html+= '<td style="padding: 2px">';
      html+= '<table id="marker_table_entry_des">';
      html+= tr('Author', entry.author);
      html+= tr_id('Content', entry.content, entry.information_key);
      html+= tr('Location', '('+entry.geo_lat+','+entry.geo_lon+')');
      html+= tr('Trip Name', entry.trip_name);
      html+= tr('Key', entry.information_key);
      html+= '</table>';
      html+= '</td>';
      html+= '</tr></table>'
      html+= '</div>';
      html+= '</a>';
  return html;
}
</script>


</head>
<body onload="TravelMap.initialize()">

<div id="wrapper">
  <div id="header">
    <div id="navibar">
      
    {% if user %}
      <div id="nb_status">logged in:</div>
      <div id="nb_username"> {{ user }}</div>
      <div id="nb_trip_selector"><select id="trip_slector"></select></div>
      <div id="nb_trip_name"></div>
      <div id="nb_trip_lat"></div>
      <div id="nb_trip_lon"></div>
      <div id="nb_trip_author"></div>
      <input id="add_trip" type="button" value="New Trip">
      <div id="clear"></div>
      <!-- <span id="nb_time"></span> -->
    {% endif %}
    </div>
  </div>
  
  <div id="content">
    <div id="map">
      <div id="map_canvas">.</div>
      <div id="map_panel">
        <div id="map_panel_place">
          <div id="marker_panel">
            <div id="marker_status"></div>
            <div id="marker_edit"></div>
          </div>
          <div id="marker_table_wrapper">
            <!--
            <table id="marker_table" border="">
              <tr><th>Latitude</th><th>Longitude</th><th>author</th><th>Content</th></tr>
            </table>
          -->
          </div>
        </div>
        <a id="merker_show_button" href=# onclick="TravelMap.showMarkerInfo()" style="display:none"><div id="merker_show_button_content">Click Here to see marker Geocoder Info</div></a>
      </div>
    </div>
    <div id="memo">.</div>
  </div>
  <div id="clear"></div>
  <div id="error_log"></div>
</div>

<!-- marker_onclick_info, not dispalyed-->
<div id="marker_onclick_info"></div>
<!-- add_trip_window, not dispalyed-->
<div id="add_trip_window" style="display:none">
  <div style="clear:both"></div>
  <p><span class="window_label">Trip Name</span> <span class="window_input"><input type="text"/ id="add_trip_window_name"></span></p>
  <div style="clear:both"></div>
  <div id="add_trip_window_map"><img src='http://maps.google.com/maps/api/staticmap?center=0,0&zoom=0&size=400x200&maptype=roadmap&sensor=false'></img></div>
  <p><span class="window_label">Latitude([-90,90])</span> <span class="window_input"><input type="text"/ id="add_trip_window_lat"></span></p>
  <p><span class="window_label">Longitude([-180,180])</span> <span class="window_input"><input type="text"/ id="add_trip_window_lon"></span><input type="button" value="Show Location" onclick="TravelMap.updateImageMarker()"/></p>  
  <p style="color:red">p.s. To get longitude and latitude, please click <a href="http://gmaps-samples-v3.googlecode.com/svn/trunk/geocoder/v3-geocoder-tool.html" target="_blank">here.</a></p>
  <p><input type="button" value="Add Trip" onclick="TravelMap.submitOneTrip()"/><input type="button" value="Cancel" onclick="Modalbox.hide()"/><div id='error_msg' class="window_error" style="font-size:small;color:red"></div></p>
  <!--
    <p><span class="add_trip_window_label">password</span> <span class="window_input"><input type="password" id="add_trip_window"/></span></p>
  <div style="clear:both"></div>
  -->
</div>
</body>
</html>
 

